*{
    margin: 0px;
    padding: 0px;
}
/*JERARQUIA DE CABECERAS*/
h1{
    font: bold 30px verdana, sans-serif;
}
h2{
    font: bold 20px verdana, sans-serif;
}
h3{
    font: bold 18px verdana, sans-serif;
}
h4{
    font: bold 14px verdana, sans-serif;
}
h5{
    font: bold 12px verdana, sans-serif;
}
h6{
    font: bold 10px verdana, sans-serif;
}
/*FORMATO DE ELEMENTOS HTML4*/
header, section, footer aside, nav, article, figure, figcaption, hgroup{
    display: block;
    border: double black;
}
body{
    text-align: center;
}
/*DISEÑO DEL TEMPLATE*/
#divGeneral{
    width: 9800px;
    margin: 15px auto;
    text-align: left;
}

#cabecera{
    background-color: aqua;
    padding: 20px;
}
#menu{
    background-color: orange;
    padding: 5px 15px;
}
#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px sans-serif;
    border-left: 3px double black;
}
#principal{
    float: right;
    width: 1075px;
    margin: 21px;
}
footer#aside{
    float: left;
    width: 220px;
    margin: 25px 40px;
    padding: 20px;
    background-color: rgb(238, 154, 38);
}
#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid silver;
}
.articulo{
    background: rgb(242, 159, 186);
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
}
article footer{
    text-align: right;
    color: red;
}
figcaption{
    font: italic 10px sans-serif;
}

div{
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}
