.articulo{
    background: rgb(129, 48, 48);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    padding: 20px ;
    width: 700px;
    text-align: justify;
    margin-bottom: 20px;
    border-radius: 10px;
    line-height: 2;
}
.hgroup{
    color:blue;
}
#subtitulo{
    margin-top: 7px;
    margin-bottom: 7px;
    
}

article footer{
    text-align: right;
    color: rgb(8, 8, 8);
}



figcaption{
    font: italic 10px sans-serif ;
}


div{
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #dd0c0c;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}